<!DOCTYPE html>
<html>
  <head>
    <title>A DIY BNB</title>
            <link rel="stylesheet" type="text/css" href="/style.css">
    <% if @user %>
      <h4> Logged in as <%= @user.email%></h4>
      <form action="/makersbnb/logout" method="POST">
        <input type="submit" value="Log out">
      </form>
    <% end %>
    <a href="/makersbnb/about" >About us</a>
    <br>
    <a href="/makersbnb/requests" >Requests</a>
    <br>
    <a href="/makersbnb/spaces" >Spaces</a>
  </head>
  <br></br>
  <body>
  <div class="overlay">
  <h3>Requests for Bookings</h3>
  <% if @guest_requests.length > 0 %>
  <ol>
    <% @guest_requests.each do |request| %>
      <li>
      Name: <%= request[:space_name] %>
      <br>
      Price: £<%= request[:price] %>
      <br>
      Start date: <%= request[:start_date] %>
      <br>
      End date: <%= request[:end_date] %>
      <br>
     <% if request[:approval_status] == 't' %>
     Approval status: Confirmed
      <% elsif request[:approval_status] == 'f'  %>
      Approval status: Declined
      <% else %>
      Approval status: Pending</li>
      <% end %>
      <br>
    <% end %>
   <br></br>
   </ol>
    <% else %>
    You have made no requests
  <% end %>
   <h3>Requests for Property</h3>
      <% if @host_requests.length > 0 %>
   <ol>
    <% @host_requests.each do |request| %>
      <li>Guest: <%= request[:email] %>
      <br>
      Start date: <%= request[:start_date] %>
      <br>
     <% if request[:approval_status] == 't' %>
     Approval status: Confirmed
      <% elsif request[:approval_status] == 'f'  %>
      Approval status: Declined
      <% else %>
      Approval status: Pending</li>
      <% end %>
      <a href='/makersbnb/requests/<%= request[:id] %>'>View</a>
      <br></br>
    <% end %>
    </ol>
  <% else %>
    You have no bookings
  <% end %>
  </body>
</html>
