<!DOCTYPE html>
<html>
  <head>
    <title>A DIY BNB</title>
    <% if @user %>
      <h4> Logged in as <%= @user.email%></h4>
      <form action="/makersbnb/logout" method="POST">
        <input type="submit" value="Log out">
      </form>
    <% end %>
    <a href="/makersbnb/about" >About us</a>
    <br>
    <a href="/makersbnb/requests" >Requests</a>
  </head>
  <br></br>
  <body>
  <h5>requests for bookings</h5>
    <% @guest_requests.each do |request| %>
      <li><%= request[:start_date] %></li>
    <% end %>
   <br></br>
   <h5>requests for property</h5>
    <% @host_requests.each do |request| %>
      <li>Guest: <%= request[:email] %></li>
      <li>Start date: <%= request[:start_date] %></li>
      
     <% if request[:approval_status] == nil %>
      <div>Approval status: Pending</div>
      <% else %>
      <div>Approval status: Confirmed</div>
      <% end %>
      <a href='/makersbnb/requests/<%= request[:id] %>'>View</a>
    <% end %>
  </body>
</html>
