<!DOCTYPE html>
<html>
  <head>
    <title>A DIY BNB</title>
  </head>
  <body>
  <h1>Book A Space </h1>
  <form action='/makersbnb/spaces/new'>
    <input type='submit' value='List a Space'>
  </form>
  <ul>
    <% @space_list.each do |space| %>
      <% if space.booked == 'f' %>
      <li>
        <%= space.name %> <%= space.price %>
        <br>
        <%= space.description %>
        <br>
        <form action='/makersbnb/spaces/<%= space.id %>'>
        <input type='hidden' name='id' value=<%= space.id %>>
        <input type='submit' value='See more'>
        </form>
      </li>
      <% end %>
    <% end %>
    </ul>
  </body>
</html>
