<!DOCTYPE html>
<html>
  <head>
    <title>A DIY BNB</title>
    <% if @user %>
      <h4> Logged in as <%= @user.email%></h4>
      <form action="/makersbnb/logout" method="POST">
        <input type="submit" value="Log out">
      </form>
    <% end %>
    <a href="/makersbnb/about" >About us</a>
    <br>
    <a href="/makersbnb/requests" >Requests</a>
    <br>
    <a href="/makersbnb/spaces" >Spaces</a>
  </head>
  <body>
  <h1>Book a Space </h1>
  <form action='/makersbnb/spaces/new'>
    <input type='submit' value='List a Space'>
  </form><br>
    <% if @space_filtered %>
  <form action='/makersbnb/spaces'>
    <input type='submit' value='Clear filter'>
  </form><br>
  <% end %>
  <form action='/makersbnb/spaces'>
    <input type='date' placeholder='Available From (dd-mm-yyyy)' value"" name='start_date' id='start_date' required>
    <input type='date' placeholder='Available To (dd-mm-yyyy)' value"" name='end_date' id='end_date' required>
    <input type='submit' value='Filter Spaces by Date'>
  </form>
  <ol>
    <% if @space_filtered.nil? %>
      <% @space_list.each do |space| %>
        <li>
          Name: <a href='/makersbnb/spaces/<%= space.id %>'><%= space.name %></a>
          <br>
          Price: £<%= space.price %>
          <br>
          Description: <%= space.description %>
        </li>
        <br>
      <% end %>
    <% else %>
      <% @space_filtered.each do |space| %>
        <li>
          Name: <a href='/makersbnb/spaces/<%= space.id %>'><%= space.name %></a>
          <br>
          Price: <%= space.price %>
          <br>
          Description: <%= space.description %>
        </li>
        <br>
      <% end %>
    <% end %>
    </ol>
  </body>
</html>
