<!DOCTYPE html>
<html>
  <head>
    <title>A DIY BNB</title>
    <% if @user %>
    <h4> Logged in as <%= @user.email%></h4>
    <form action="/makersbnb/sessions/logout" method="POST">
      <input type="submit" value="Log out">
    </form>
  <% end %>
  </head>
  <body>
  <h1><%= @space.name %> <%= @space.price %></h1>
  <br>
  <h3><%= @space.description %></h3>
  <form action='/makersbnb/spaces/<%= @space.id %>' method='post'>
    <input type='submit' value='Book the Space'>
  </form>
    </ul>
  </body>
</html>
