<!DOCTYPE html>
<html>
  <head>
  <title>A DIY BNB</title>
  <% if @user %>
    <h4> Logged in as <%= @user.email%></h4>
    <form action="/makersbnb/logout" method="POST">
      <input type="submit" value="Log out">
    </form>
  <% end %>
  <a href="/makersbnb/about" >About us</a>
  <br>
  <a href="/makersbnb/requests" >Requests</a>
  <br>
  <a href="/makersbnb/spaces" >Spaces</a>
  </head>
  <body>
  <h1><%= @space.name %> <%= @space.price %></h1>
  <br>
  <h3><%= @space.description %></h3>
  <br>
  <form action='/makersbnb/spaces/<%= @space.id %>' method='POST'>
    <input type='date' placeholder='Available From (dd-mm-yyyy)' value"" name='start_date' required>
    <input type='date' placeholder='Available To (dd-mm-yyyy)' value"" name='end_date' required>
    <input type='hidden' name='space_id' value=<%= @space.id %>>
    <input type='submit' value='Check availability'>
  </form>
  <br>
  <br>
  <% if @availability == true %>
    Space is available! Go ahead and make a request.
    <form action='/makersbnb/requests' method='post'><br>
      <input type='submit' value='Request the Space'>
    </form>
  <% elsif @availability == false %>
    Sorry, the space is not available for these dates. Try another set of dates.
  <% else %>

  <% end %>
    </ul>
  </body>
</html>
