<!DOCTYPE html>
<html>
  <head>
    <title>A DIY BNB</title>
            <link rel="stylesheet" type="text/css" href="/style.css">
    <% if @user %>
      <h4> Logged in as <%= @user.email%></h4>
      <form action="/makersbnb/logout" method="POST">
        <input type="submit" value="Log out">
      </form>
    <% end %>
    <a href="/makersbnb/about" >About us</a>
    <br>
    <a href="/makersbnb/requests" >Requests</a>
    <br>
    <a href="/makersbnb/spaces" >Spaces</a>
    <br>
  </head>
  <body>
  <div class="overlay">

My booking:
<li>start date:<%= @host_request[:start_date] %></li>
<li>end date:<%= @host_request[:start_date] %></li>
<li>Guest: <%= @host_request[:email] %></li>

<form action="/makersbnb/requests/<%= @host_request[:id] %>" method="POST">
  <input type="submit" value="Accept">
  <input type="hidden" name="Accept" value="Accept">
</form>

<form action="/makersbnb/requests/<%= @host_request[:id] %>" method="POST">
  <input type="submit" value="Decline">
  <input type="hidden" name="Decline" value="Decline">
</form>
</body>
</html
